doctype html 
html
    head 
        title DancePanda.in
        block scripts 
        block style 
    body  
        nav.navi    
            img(src="../static/logo.jpg", alt="Loading...")
            ul 
                li #[a(href="/") Home ]
                li #[a(href="/") Services]
                li #[a(href="/") Class-Info]
                li #[a(href="/") About Us]
                li #[a(href="/contact") Contact Us]
        block cont 
        footer  
            |  Copyright &copy; www.DancePanda.in | All rights reserved! 
